{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Team</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center">
				<p>{{ get_ctf_name() }} тэмцээнд тавтай морилно уу!</p>
				<p>
					Тэмцээнд оролцохын тулд та өөрийн багыг үүсгэнэ үү.	
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center">
				<a class="btn btn-blue btn-success w-100" href="{{ url_for('teams.new') }}">Баг үүсгэх</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('views.themes', path='js/vendor/plotly.min.js') }}"></script>
	<script src="{{ url_for('views.themes', path='js/utils.js') }}"></script>
	{% if solves %}
		<script src="{{ url_for('views.themes', path='js/team.js') }}"></script>
	{% endif %}
{% endblock %}
